.topbar {
  grid-area: topbar;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.topbar__top {
  display: grid;
  align-items: center;
  width: 100%;
  min-height: 37px;
  overflow-x: hidden;
}

.topbar__top__back {
  grid-area: back;
  display: grid;
  place-items: center;
  box-sizing: border-box;
  margin-right: 10px;
}

.topbar__top__back {
  font-size: 20px;
  padding: 6.5px 10px !important;
}

.topbar__bottom {
  width: 100%;
}

.topbar__title-wrapper {
  grid-area: title;
  color: var(--topbarFontColor);
  white-space: nowrap;
  margin-right: 10px;
  width: fit-content;
}

.topbar__title {
  font-size: 20px;
}

.topbar__title-wrapper.subtitle {
  display: flex;
  flex-flow: column;
  gap: 2px;
}

.topbar__title-wrapper.subtitle .topbar__title {
  font-size: 12px;
  color: gray;
}

.topbar__top__additional {
  display: grid;
  gap: 10px;
}

.topbar__button {
  display: grid;
  place-items: center;
  color: var(--theme-color);
  font-size: 20px;
  margin-right: 10px;
  white-space: nowrap;
}

.topbar__button:last-child {
  margin-right: 0;
}

@media (min-aspect-ratio: 21 / 20) {
  .topbar__top {
    width: 100%;
  }
}