.expand-card {
  background-color: var(--darkBackground);
  border-radius: 7px;
  padding: 7px 10px;
  transition-property: background-color, color;
  transition-duration: 0.2s; 
  transition-timing-function: ease-in-out; 
}

.expand-card.expanded {
  position: absolute;
  width: 100vw;
  left: 0;
  right: 0;
}