#home {
  display: grid;
  grid-template-rows: auto fit-content(0);
  padding-top: 30px;
  align-items: center;
}

.home__carousel-wrapper {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  min-height: 300px;
}

.home__carousel {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 200px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.home__carousel::-webkit-scrollbar {
  display: none;
}

.home__carousel__item-wrapper:first-child {
  padding-left: 200px;
}

.home__carousel__item-wrapper:last-child {
  padding-right: 200px;
}

.home__gameMode {
  scroll-snap-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100px !important;
  height: 100px;
  aspect-ratio: 1 / 1 !important;
  border-radius: 10%;
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 10px;
  transition: background-color 0.5s ease, color 0.5s ease, width 0.5s ease, height 0.5s ease;
}

.home__gameMode canvas {
  width: 70px;
  border: solid 1px black;
  border-radius: 8%;
  transition: width 0.5s ease;
}

.home__gameMode.snapped {
  width: 150px !important;
  height: 150px;
  background-color: var(--theme-color);
  color: white;
}

.home__gameMode.snapped canvas {
  width: 120px;
}

.home__carousel-dots {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 10px;
}

.home__carousel-dots__dot {
  height: 5px;
  width: 15px;
  background-color: gray;
  border-radius: 2.5px;
  transition: background-color 0.5s ease, width 0.5s ease;
}

.home__carousel-dots__dot.selected {
  width: 25px;
  background-color: var(--theme-color);
}

.home__continue-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.home__continue {
  display: grid;
  grid-template-columns: auto fit-content(0) fit-content(0);
  align-items: center;
  gap: 5px;
  padding: 12px !important;
}

.home__continue__info {
  color: var(--primaryTextColor);
  font-size: 20px;
}

.home__continue__button {
  color: var(--theme-color);
  font-size: 20px;
}

.home__continue__icon {
  color: var(--theme-color);
}

@media (max-height: 600px) {
  .home__grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}

@media (max-width: 1000px) {
  #home {
    width: 100% !important;
  }
}
