#home {
  display: grid;
  grid-template-rows: fit-content(0) auto;
  padding: 10px;
}

.home__grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 20px;
}

.home__grid__item {
  display: grid;
  grid-template-rows: auto fit-content(0);
  justify-content: center;
  background-color: var(--homeGridBackground);
  border-radius: 20px;
  padding: 10px;
  padding-top: 15px;
  box-sizing: border-box;
  box-shadow: var(--homeGridShadow);
}

.home__grid__item__icon-wrapper {
  display: grid;
  place-items: center;
}

.home__grid__item__icon-wrapper__icon {
  font-size: 60px;
  color: var(--homeGridIconColor);
}

.home__grid__item__title {
  color: var(--primaryTextColor);
  text-align: center;
  font-size: 18px;
  margin-top: 5px;
}

.home__continue-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  width: 100%;
}

.home__continue-wrapper__subtitle {
  color: var(--primaryTextColor);
  text-align: center;
  font-size: 18px;

}

.edit-buttons__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: var(--editButtonColor);
  background-color: var(--editButtonBackground);
}

.edit-buttons__button.highlight {
  background-color: #4b7bec;
  color: white;
}

.edit-buttons__button.yellow {
  background-color: #fed330;
  color: white;
}

.edit-buttons__button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}

.edit-buttons__button__icon {
  font-size: 35px;
}

.numpad {
  grid-area: numpad;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 0 10px;
  gap: 7px;
}