#home {
  display: grid;
  grid-template-rows: fit-content(0) auto;
}

.home__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.home__grid__item {
  display: grid;
  grid-template-rows: auto fit-content(0);
  grid-template-columns: 75%;
  justify-content: center;
  padding: 10px !important;
  padding-top: 15px !important;
  box-sizing: border-box;
  box-shadow: var(--homeGridShadow);
  aspect-ratio: 1 / 1;
}

.home__grid__item canvas {
  width: 100%;
}

.home__grid__item__icon-wrapper {
  display: grid;
  place-items: center;
}

.home__grid__item__icon-wrapper__icon {
  font-size: 60px;
  color: var(--homeGridIconColor);
}

.home__grid__item__title {
  color: var(--primaryTextColor);
  text-align: center;
  font-size: 18px;
  margin-top: 5px;
}

.home__continue-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.home__continue {
  display: grid;
  grid-template-columns: auto fit-content(0) fit-content(0);
  align-items: center;
  gap: 5px;
  padding: 12px !important;
}

.home__continue__info {
  color: var(--primaryTextColor);
  font-size: 20px;
}

.home__continue__button {
  color: var(--theme-color);
  font-size: 20px;
}

.home__continue__icon {
  color: var(--theme-color);
}

@media (min-aspect-ratio: 21 / 20) {
  #home {
    width: 400px;
  }
}

@media (max-height: 600px) {
  .home__grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}

@media (max-width: 1000px) {
  #home {
    width: 100% !important;
  }
}