#settings {
  overflow-y: auto;
  padding-top: 30px;
}

.settings__label {
  color: var(--secondaryTextColor);
  padding-left: 15px;
  margin-bottom: 5px;
}

.settings__explanation {
  color: var(--secondaryTextColor);
  padding: 10px;
  margin-bottom: 30px;
}

.settings__list {
  display: flex;
  flex-flow: column;
  margin-bottom: 30px;
}

.settings__section__list {
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.settings__section-link {
  display: grid;
  grid-template-columns: 30px auto fit-content(0);
  grid-template-rows: 30px;
  align-items: center;
  gap: 10px;
  color: var(--primaryTextColor);
}

.settings__section-link__icon {
  display: grid;
  place-items: center;
  height: 30px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
}

@media (min-aspect-ratio: 21 / 20) {
  #settings {
    width: 400px;
  }
}