.tabSwitcher {
    display: flex;
    align-items: center;
    background-color: var(--darkBackground);
    border-radius: 15px;
    margin: 0 15px;
    margin-top: 35px;
}

.tabSwitcher__tab {
    display: grid;
    place-items: center;
    min-width: 44px;
    min-height: 44px;
}

.tabSwitcher__tab.selected {
    .tabSwitcher__icon {
        color: var(--tabSwitcherSelectedTabIconColor);
    }
}

.tabSwitcher__icon {
    font-size: 22px;
    color: var(--tabSwitcherIconColor);
}

.tabSwitcher__hole {
    position: absolute;
    top: calc(100vh - 112px);
    left: 50%;
    transform: translate(-50%, 0);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--background);
}
