:root {
	--background: #171719;
	--higlight:  #1e1e26;
	--focus: #163c7b;
}

html, body, #root, .app {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	user-select: none;
	touch-action: manipulation;
}

a {
	text-decoration: none;
}

.app {
	display: flex;
	justify-content: center;
	background-color: var(--background);
}

.section {
	display: grid;
	grid-template-rows: fit-content(0) auto;
	height: 100%;
	width: fit-content;
}

.section__content {
	height: 100%;
}

.navbar {
	display: grid;
	grid-template-columns: 0 fit-content(0) auto fit-content(0) 0;
	grid-template-areas: "menu logo title user new-game";
	padding: 5px 10px;
	align-items: center;
	color: white;
}

.menu-icon-wrapper {
	grid-area: menu;
	display: none;
}

.navbar__logo-wrapper {
	grid-area: logo;
	padding-right: 20px;
}

.navbar__logo-wrapper img {
	height: 22px;
}

.navbar__title {
	grid-area: title;
	font-size: 30px;
	margin-bottom: 2px;
}

.navbar__user-wrapper {
	grid-area: user;
	display: flex;
	align-items: center;
	gap: 15px;
}

.navbar__user-wrapper__settings {
	padding: 10px;
	cursor: pointer;
}

.navbar__user-wrapper__settings i {
	font-size: 20px;
	color: white;
}

.navbar__user-wrapper__login-button {
	border: solid 1px white;
	padding: 5px 10px;
	word-wrap: none;
	white-space: nowrap;
	font-size: 20px;
	color: white;
	width: fit-content;
}

#navbar-new-game-button {
	grid-area: new-game;
	display: none;
}

#sudoku {
	display: flex;
	justify-content: center;
	align-items: center;
}

.game {
	display: grid;
	grid-template-columns: fit-content(0) 20px 287px;
	grid-template-rows: 40px 20px fit-content(0) 5px fit-content(0) 20px fit-content(0);
	grid-template-areas:
		"sudoku a new-game"
		"sudoku b c"
		"sudoku d buttons"
		"sudoku e f"
		"sudoku g extra"
		"sudoku h i"
		"sudoku j numpad";
	width: fit-content;
	height: fit-content;
}

.sudoku {
	grid-area: sudoku;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sudoku__win-screen-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 800px;
	height: 100%;
}

.sudoku__win-screen {
	display: grid;
	grid-template-rows: fit-content(0) 30px 40px;
	grid-template-columns: 287px;
	grid-template-areas:
		"title"
		"space"
		"new-game";
}

.sudoku__win-screen__title {
	grid-area: title;
	text-align: center;
	color: white;
	font-size: 30px;
}

.new-game-wrapper {
	grid-area: new-game;
	position: relative;
}

.new-game-button {
	display: flex;
	background-color: #4b7bec;
	justify-content: center;
	align-items: center;
	color: white;
	border-radius: 10px;
	font-size: 20px;
	cursor: pointer;
	height: 100%;
}

.new-game-button.ghost {
	width: fit-content;
	background-color: transparent;
	color: #2586e7;
}

.new-game-button:hover {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}

.new-game-menu.hidden {
	display: none;
}

.new-game-menu.visible {
	position: absolute;
	display: flex;
	flex-flow: column;
	gap: 10px;
	width: 287px;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 10px;
}

.new-game-menu__list {
	display: flex;
	flex-flow: column;
	background-color: #25242c;
	border-radius: 15px;
	border: solid 1px white;
	box-sizing: border-box;
}

.menu-button {
	display: flex;
	flex-flow: row;
	align-items: center;
	padding: 10px;
	height: 30px;
	border-top: solid 1px white;
	color: #75747c;
	cursor: pointer;
}

.menu-button.cancel {
	display: none;
}

.menu-button:hover {
	color: white;
}

.menu-button:first-child {
	border-top: none;
}

.menu-button__icon {
	width: 20px;
	margin-right: 15px;
}

.edit__buttons {
	grid-area: buttons;
	display: flex;
	align-items: center;
	gap: 5px;
}

.extra__buttons {
	grid-area: extra;
	display: flex;
	align-items: center;
	gap: 5px;
}

.edit-buttons__button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #75747c;
	background-color: #25242c;
	border-radius: 10px;
	width: 67px;
	height: 67px;
	cursor: pointer;
}

.edit-buttons__button.highlight {
	background-color: #4b7bec;
	color: white;
}

.edit-buttons__button.yellow {
	background-color: #fed330;
	color: white;
}

.edit-buttons__button:hover {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}

.edit-buttons__button__icon {
	font-size: 30px;
}

.numpad {
	grid-area: numpad;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(3, auto);
	gap: 10px;
}

.numpad__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 86.33px;
	height: 86.33px;
	color: #4b7bec;
	font-size: 40px;
	border-radius: 10px;
	cursor: pointer;
}

.numpad__button.number {
	background-color: #25242c;
}

.numpad__button:hover {
	background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}

.numpad__button.disabled {
	background-color: transparent;
	width: 84.33px;
	height: 84.33px;
	border: solid 1px #25242c;
	cursor: default;
}

.numpad__button.disabled:hover {
	background-image: none;
}

.numpad__button.hidden {
	border: none;
	color: transparent;
	background-color: transparent;
}

.numpad__button.locked {
	border: 1px solid white;
	width: 84.33px;
	height: 84.33px;
	color: white;
	/*background-color: transparent;*/
}

#settings {
	width: 600px;
	padding-top: 40px;
}

.settings__list {
	display: flex;
	flex-flow: column;
	padding: 10px;
}

.settings__item {
	display: grid;
	grid-template-columns: auto fit-content(0);
	padding: 15px 25px;
	background-color: #25242c;
	border-color: black;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	align-items: center;
}

.settings__item:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.settings__item:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-width: 1px 1px 1px 1px;
}

.settings__item__title {
	color: white;
	font-size: 20px;
	margin-right: 40px;
}

@media only screen and (max-width: 880px) {
	.section {
		width: 100%;
	}

	.game {
		grid-template-columns: 1fr 3fr !important;
		grid-template-rows: fit-content(0) 1fr 3.3fr !important;
		grid-template-areas:
			"sudoku sudoku"
			"buttons buttons"
			"extra numpad" !important;
		gap: 10px;
		width: 100%;
		height: calc(100%-20px);
	}

	#large-new-game-button {
		display: none;
	}

	#sudoku {
		align-items: flex-start;
		width: calc(100% - 6px);
		padding-left: 3px;
	}

	.edit__buttons {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 10px;
		padding: 0 10px;
	}

	.extra__buttons {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 10px;
		padding-left: 10px;
	}

	.edit-buttons__button {
		width: 100%;
		height: 100%;
	}

	.numpad {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		padding-right: 10px;
	}

	.numpad__button {
		width: auto;
		height: auto;
	}

	.numpad__button.disabled {
		width: auto;
		height: auto;
	}

	.numpad__button.locked {
		width: auto;
		height: auto;
	}
	
	.new-game-menu.visible {
		width: 100%;
	}

	.menu-icon-wrapper {
		display: block;
		padding-right: 20px;
		font-size: 25px;
		cursor: pointer;
	}

	.navbar {
		grid-template-columns: fit-content(0) 0 auto 0 114px !important;
	}

	.navbar__logo-wrapper {
		display: none;
	}

	.navbar__user-wrapper {
		display: none;
	}

	#navbar-new-game-button {
		display: block;
		height: 30px;
	}

	#settings {
		width: auto;
	}

	.sudoku__win-screen-wrapper {
		width: 100%;
	}

	.new-game-wrapper {
		position: inherit;
	}

	.new-game-menu.visible {
		position: absolute;
		justify-content: end;
		top: 0;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.7);
		margin-top: 0;
	}

	.new-game-menu__list {
		margin: 0 10px 0 10px;
		border: none;
	}

	.menu-button {
		justify-content: center;
		border-color: #363440;
		color: #4b7bec;
		font-size: 20px;
	}

	.menu-button:hover {
		color: #4b7bec;
	}

	.menu-button__icon {
		display: none;
	}

	.menu-button.cancel {
		display: flex;
		border-top: none;
		border-radius: 15px;
		background-color: #25242c;
		color: #4b7bec;
		margin: 0 10px 20px 10px;
		font-weight: bold;
	}
}